# Shared database password
DB_SECRET_PASSWORD=

# Admin/Email Credentials for auth-service
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
ADMIN_EMAIL=
ADMIN_MAIL_FROM=

# --- URLs for the Next.js build ---
# These MUST point to localhost, as they are used by the user's BROWSER
NEXT_PUBLIC_AUTH_URL=
NEXT_PUBLIC_USER_URL=
NEXT_PUBLIC_APPOINTMENT_URL=
NEXT_PUBLIC_LOCATION_URL=